.selected{
    color:var(--bright-red);
}
.selected h3{
    color:var(--bright-red);
}
h3{
    margin:0;
    padding:0;
    color:var(--mid-red)
}
li{
    display: flex;
    flex-direction: column;
    /* text-align:center; */
    list-style-type: none;
    margin:1em;
}