<div *ngIf="item" class='edit-form'>
    <h2>Edit {{item.name | uppercase}}</h2>
    <form (ngSubmit)="onEdit($event)" class='form-control'>
        <div>
        <label for="name">Item name: </label>
        <input name="name" id="name" [(ngModel)]="item.name" placeholder="name"><br/>
        <label for="description">Item description: </label>
        <input name="description" id="description" [(ngModel)]="item.description" placeholder="description"><br/>
        <label for="qty">Item quantity: </label>
        <input name="qty" type="number" id="qty" [(ngModel)]="item.qty" placeholder="qty">
        </div>
        <input type='submit' Value='Make Changes' class="btn">
    </form>
    
    <app-button text='Delete' (click)='onDelete(item)'></app-button>
</div>
